{% extends 'main.html' %} 

{% block container %}

    <h1>{{title}}</h1>

    <p>{{text}}</p>

    {% if groceries %}
    <ol>
        {% for food in groceries %}
            <li>{{food}}</li>
        {% endfor %}
    </ol>
    {% else %}

    <h2>No groceries</h2>

    {% endif %}

    <h2>Check out anagrams</h2>

        <ul>
            {% for word in scrambled_words %}
            <li>
                <a href='{{ url_for ("words", word=word) }}'>{{word}}</a>
            </li>
            
            {% endfor %}
        </ul>

{% endblock %}
