<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>

    <body>
    <section calss="section">
        <div class="container">
            <h1 class="title">
                Northwind Table
            </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Product Count</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fact in facts %}
                    <tr>
                        <td><a href="{{url_for('products', supplier_id=fact['Id'])}}">{{ fact['CompanyName'] }}</a></td>
                        <td>{{ fact['ProductCount']}}</td>
                        <td>{{ fact['City'] }}</td>
                        <td>{{ fact['Country'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section> 
    </body>
</html>