<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>

    <body>
    <section calss="section">
        <div class="container">
            <h1 class="title">
            
                {{ company_name }}
                
            </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity per unit</th>
                        <th>Unit price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product['ProductName'] }}</td>
                        <td>{{ product['QuantityPerUnit'] }}</td>
                        <td>{{ product['UnitPrice'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section> 
    </body>
</html>