body {
    margin: 0px;
    font-family: sans-serif;
}
.menu {
    position: relative;
    top: 0px;
    margin:0px;
    width:100%;
    background-color: purple;
    color: white;
}
.menu-item {
    padding: 10px;
    display: inline-block;
}

.menu-item a{
    color: white;
    text-decoration: none;

}
.menu-item:hover{
    background-color: orange;
}
.container {
    max-width: 800px;
    margin: 0px auto;
}